# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [3]:
# Import your libraries:
import pandas as pd
import seaborn as sns
from sklearn import datasets

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [5]:
# Your code here:
df=datasets.load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [7]:
# Your code here:
df.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [9]:
# Your code here:
print(df.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, T-Cells (a type of white blood cells)
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, thyroid stimulating hormone
      - s5      ltg, lamotrigine
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [13]:
df.target

442

In [16]:
# Enter your answer here:
#Hay 10 atributos que son las caracteristicas de un sujeto que buscan predecir el target, que es si tiene o no diabetes
#Cada uno de los sujetos tiene 10 atributos (caracteristicas) que dan un resultado en boolean
# n=442

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [15]:
# Your code here:
print(df.data.shape)
print(df.target.shape)
#mismas filas

(442, 10)
(442,)

In [19]:
df.data

array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990842, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06832974, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286377, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04687948,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452837, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00421986,  0.00306441]])

In [29]:
diabetes=pd.DataFrame(df.data,columns=df.feature_names)

In [31]:
diabetes["target"]=df.target

In [32]:
diabetes.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [33]:
# Your code here:
from sklearn import linear_model

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [42]:
# Your code here:
diabetes_model=linear_model.LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [49]:
# Your code here:
from sklearn.model_selection import train_test_split
X=diabetes.drop("target",axis=1)
y=diabetes["target"]
diabetes_data_train,diabetes_data_test, diabetes_target_train, diabetes_target_test= train_test_split(X,y,test_size = 0.2)

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [51]:
# Your code here:
diabetes_model.fit(diabetes_data_train,diabetes_target_train)

LinearRegression()

In [60]:
print(f'intercept: {diabetes_model.intercept_}')
print(f'coeficiente: {diabetes_model.coef_}')

intercept: 149.6254353423794
coeficiente: [  28.0484973  -200.44091606  508.72760881  340.3831231  -959.46377501
  555.56724914  214.93511185  222.11846749  880.92950141  -10.97262609]

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [61]:
# Your code here:
y_pred=diabetes_model.predict(diabetes_data_test)

#### Print your `diabetes_target_test` and compare with the prediction.

In [65]:
# Your code here:
print(diabetes_target_test)
print(y_pred)

366    233.0
3      206.0
198    142.0
35     102.0
375    217.0
       ...
84      65.0
395    258.0
70      48.0
169    152.0
278    102.0
Name: target, Length: 89, dtype: float64
[249.32562086 159.85465937 133.46095037  93.98702268 183.91764596
 106.74429772 203.85003831 144.00131459 161.731897   195.1702643
  60.11517989 242.94746762 195.67601039  83.84259734 172.71991075
 124.4645876   81.99917336 122.54795252 147.63165799 227.19643459
 165.64669693  97.63568111 197.82723783  32.5387245  208.829788
 175.93727811 152.88585257  77.77691009 190.70232295 192.45176315
 140.65363622 107.76307945 180.18625888 252.46695918 239.55987229
 115.75814582 170.39445669 198.22798414 129.07999097  37.82161579
 142.08489476 150.60860155 174.63803615  67.99842418  28.41213307
 167.81347746 199.35708469 212.76672315 116.83550614 257.91044102
 115.91824345 152.97961199  80.00089298 105.64940737 117.55891498
 224.90741389 215.55216152  86.67175219 173.85789282 150.08224878
  62.0639284  141.53471261 105.14448923 232.1902612  181.39349644
 171.55876438 141.2204854  143.13723779  73.35881403 111.1404472
 218.80485181 215.0045428   68.87203396  85.30199081 240.44535328
 253.08308775 195.41062003 193.40830139 107.94074345  78.97305807
 118.2687727   92.7500373  193.41724835  56.17257388  55.02940965
 172.780989    64.41054362 219.44975025 108.24307648]

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [ ]:
# Your explanation here:
#no son exactamente iguales, hay poca muestra y el score es bajo

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../images/statsmodels.png)

In [66]:
# Your code here:
import statsmodels.api as sm

In [75]:
model = sm.OLS(diabetes_target_train, sm.add_constant(diabetes_data_train)).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.516
Model:                            OLS   Adj. R-squared:                  0.502
Method:                 Least Squares   F-statistic:                     36.49
Date:                Sat, 05 Feb 2022   Prob (F-statistic):           3.25e-48
Time:                        18:09:03   Log-Likelihood:                -1905.9
No. Observations:                 353   AIC:                             3834.
Df Residuals:                     342   BIC:                             3876.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        149.6254      2.899     51.617      0.000     143.924     155.327
age           28.0485     67.377      0.416      0.677    -104.476     160.573
sex         -200.4409     70.880     -2.828      0.005    -339.857     -61.024
bmi          508.7276     74.699      6.810      0.000     361.800     655.655
bp           340.3831     75.162      4.529      0.000     192.545     488.221
s1          -959.4638    477.872     -2.008      0.045   -1899.402     -19.526
s2           555.5672    386.944      1.436      0.152    -205.523    1316.658
s3           214.9351    242.756      0.885      0.377    -262.547     692.418
s4           222.1185    180.437      1.231      0.219    -132.787     577.024
s5           880.9295    201.013      4.382      0.000     485.552    1276.307
s6           -10.9726     75.676     -0.145      0.885    -159.822     137.877
==============================================================================
Omnibus:                        2.667   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.264   Jarque-Bera (JB):                2.096
Skew:                          -0.002   Prob(JB):                        0.351
Kurtosis:                       2.623   Cond. No.                         232.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [ ]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [86]:
# Your code here:
auto=pd.read_csv("../data/auto-mpg.csv")

Look at the first 5 rows using the `head()` function:

In [87]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [89]:
# Your code here, todas numericas excepto el nombre
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [94]:
# Modelos mas nuevos:
auto[auto.model_year==auto.model_year.max()]

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
367,28.0,4,112.0,88.0,2605,19.6,82,"\t""chevrolet cavalier"""
368,27.0,4,112.0,88.0,2640,18.6,82,"\t""chevrolet cavalier wagon"""
369,34.0,4,112.0,88.0,2395,18.0,82,"\t""chevrolet cavalier 2-door"""
370,31.0,4,112.0,85.0,2575,16.2,82,"\t""pontiac j2000 se hatchback"""
371,29.0,4,135.0,84.0,2525,16.0,82,"\t""dodge aries se"""
372,27.0,4,151.0,90.0,2735,18.0,82,"\t""pontiac phoenix"""
373,24.0,4,140.0,92.0,2865,16.4,82,"\t""ford fairmont futura"""
374,23.0,4,151.0,NaN,3035,20.5,82,"\t""amc concord dl"""
375,36.0,4,105.0,74.0,1980,15.3,82,"\t""volkswagen rabbit l"""
376,37.0,4,91.0,68.0,2025,18.2,82,"\t""mazda glc custom l"""
377,31.0,4,91.0,68.0,1970,17.6,82,"\t""mazda glc custom"""
378,38.0,4,105.0,63.0,2125,14.7,82,"\t""plymouth horizon miser"""
379,36.0,4,98.0,70.0,2125,17.3,82,"\t""mercury lynx l"""
380,36.0,4,120.0,88.0,2160,14.5,82,"\t""nissan stanza xe"""
381,36.0,4,107.0,75.0,2205,14.5,82,"\t""honda accord"""
382,34.0,4,108.0,70.0,2245,16.9,82,"\t""toyota corolla"""
383,38.0,4,91.0,67.0,1965,15.0,82,"\t""honda civic"""
384,32.0,4,91.0,67.0,1965,15.7,82,"\t""honda civic (auto)"""
385,38.0,4,91.0,67.0,1995,16.2,82,"\t""datsun 310 gx"""
386,25.0,6,181.0,110.0,2945,16.4,82,"\t""buick century limited"""
387,38.0,6,262.0,85.0,3015,17.0,82,"\t""oldsmobile cutlass ciera (diesel)"""
388,26.0,4,156.0,92.0,2585,14.5,82,"\t""chrysler lebaron medallion"""
389,22.0,6,232.0,112.0,2835,14.7,82,"\t""ford granada l"""
390,32.0,4,144.0,96.0,2665,13.9,82,"\t""toyota celica gt"""
391,36.0,4,135.0,84.0,2370,13.0,82,"\t""dodge charger 2.2"""
392,27.0,4,151.0,90.0,2950,17.3,82,"\t""chevrolet camaro"""
393,27.0,4,140.0,86.0,2790,15.6,82,"\t""ford mustang gl"""
394,44.0,4,97.0,52.0,2130,24.6,82,"\t""vw pickup"""
395,32.0,4,135.0,84.0,2295,11.6,82,"\t""dodge rampage"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

In [95]:
#modelos mas antiguos
auto[auto.model_year==auto.model_year.min()]

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
5,15.0,8,429.0,198.0,4341,10.0,70,"\t""ford galaxie 500"""
6,14.0,8,454.0,220.0,4354,9.0,70,"\t""chevrolet impala"""
7,14.0,8,440.0,215.0,4312,8.5,70,"\t""plymouth fury iii"""
8,14.0,8,455.0,225.0,4425,10.0,70,"\t""pontiac catalina"""
9,15.0,8,390.0,190.0,3850,8.5,70,"\t""amc ambassador dpl"""
10,15.0,8,383.0,170.0,3563,10.0,70,"\t""dodge challenger se"""
11,14.0,8,340.0,160.0,3609,8.0,70,"\t""plymouth 'cuda 340"""
12,15.0,8,400.0,150.0,3761,9.5,70,"\t""chevrolet monte carlo"""
13,14.0,8,455.0,225.0,3086,10.0,70,"\t""buick estate wagon (sw)"""
14,24.0,4,113.0,95.0,2372,15.0,70,"\t""toyota corona mark ii"""
15,22.0,6,198.0,95.0,2833,15.5,70,"\t""plymouth duster"""
16,18.0,6,199.0,97.0,2774,15.5,70,"\t""amc hornet"""
17,21.0,6,200.0,85.0,2587,16.0,70,"\t""ford maverick"""
18,27.0,4,97.0,88.0,2130,14.5,70,"\t""datsun pl510"""
19,26.0,4,97.0,46.0,1835,20.5,70,"\t""volkswagen 1131 deluxe sedan"""
20,25.0,4,110.0,87.0,2672,17.5,70,"\t""peugeot 504"""
21,24.0,4,107.0,90.0,2430,14.5,70,"\t""audi 100 ls"""
22,25.0,4,104.0,95.0,2375,17.5,70,"\t""saab 99e"""
23,26.0,4,121.0,113.0,2234,12.5,70,"\t""bmw 2002"""
24,21.0,6,199.0,90.0,2648,15.0,70,"\t""amc gremlin"""
25,10.0,8,360.0,215.0,4615,14.0,70,"\t""ford f250"""
26,10.0,8,307.0,200.0,4376,15.0,70,"\t""chevy c20"""
27,11.0,8,318.0,210.0,4382,13.5,70,"\t""dodge d200"""
28,9.0,8,304.0,193.0,4732,18.5,70,"\t""hi 1200d"""

Check the dataset for missing values and remove all rows containing at least one missing value.

In [100]:
# Your code here:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [99]:
auto.dropna(axis=0,inplace=True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [101]:
# Your code here:
auto.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [103]:
# Your code here:
auto.drop("car_name",axis=1,inplace=True)
X=auto.drop("mpg",axis=1)
y=auto.mpg
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [105]:
# Your code here:
auto_model=linear_model.LinearRegression()

In [106]:
auto_model.fit(X_train,y_train)

LinearRegression()

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../images/r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [116]:
# Your code here:
y_pred=auto_model.predict(X_train)

In [109]:
from sklearn.metrics import  r2_score

In [112]:
#primero el y_test
help(r2_score)

Help on function r2_score in module sklearn.metrics._regression:

r2_score(y_true, y_pred, *, sample_weight=None, multioutput='uniform_average')
    R^2 (coefficient of determination) regression score function.

    Best possible score is 1.0 and it can be negative (because the
    model can be arbitrarily worse). A constant model that always
    predicts the expected value of y, disregarding the input features,
    would get a R^2 score of 0.0.

    Read more in the :ref:`User Guide <r2_score>`.

    Parameters
    ----------
    y_true : array-like of shape (n_samples,) or (n_samples, n_outputs)
        Ground truth (correct) target values.

    y_pred : array-like of shape (n_samples,) or (n_samples, n_outputs)
        Estimated target values.

    sample_weight : array-like of shape (n_samples,), default=None
        Sample weights.

    multioutput : {'raw_values', 'uniform_average', 'variance_weighted'},             array-like of shape (n_outputs,) or None, default='uniform_average'

        Defines aggregating of multiple output scores.
        Array-like value defines weights used to average scores.
        Default is "uniform_average".

        'raw_values' :
            Returns a full set of scores in case of multioutput input.

        'uniform_average' :
            Scores of all outputs are averaged with uniform weight.

        'variance_weighted' :
            Scores of all outputs are averaged, weighted by the variances
            of each individual output.

        .. versionchanged:: 0.19
            Default value of multioutput is 'uniform_average'.

    Returns
    -------
    z : float or ndarray of floats
        The R^2 score or ndarray of scores if 'multioutput' is
        'raw_values'.

    Notes
    -----
    This is not a symmetric function.

    Unlike most other scores, R^2 score may be negative (it need not actually
    be the square of a quantity R).

    This metric is not well-defined for single samples and will return a NaN
    value if n_samples is less than two.

    References
    ----------
    .. [1] `Wikipedia entry on the Coefficient of determination
            <https://en.wikipedia.org/wiki/Coefficient_of_determination>`_

    Examples
    --------
    >>> from sklearn.metrics import r2_score
    >>> y_true = [3, -0.5, 2, 7]
    >>> y_pred = [2.5, 0.0, 2, 8]
    >>> r2_score(y_true, y_pred)
    0.948...
    >>> y_true = [[0.5, 1], [-1, 1], [7, -6]]
    >>> y_pred = [[0, 2], [-1, 2], [8, -5]]
    >>> r2_score(y_true, y_pred,
    ...          multioutput='variance_weighted')
    0.938...
    >>> y_true = [1, 2, 3]
    >>> y_pred = [1, 2, 3]
    >>> r2_score(y_true, y_pred)
    1.0
    >>> y_true = [1, 2, 3]
    >>> y_pred = [2, 2, 2]
    >>> r2_score(y_true, y_pred)
    0.0
    >>> y_true = [1, 2, 3]
    >>> y_pred = [3, 2, 1]
    >>> r2_score(y_true, y_pred)
    -3.0

In [118]:
r2_score(y_train,y_pred)

0.8124597367817721

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [115]:
# Your code here:
y_test_pred=auto_model.predict(X_test)
r2_score(y_test,y_test_pred)

0.7902526122962331

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [119]:
# Your code here:
X_train09, X_test09, y_train09, y_test09=train_test_split(X,y,test_size=0.1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [120]:
# Your code here:
auto_model09=linear_model.LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [121]:
# Your code here:
auto_model09.fit(X_train09,y_train09)
y_pred09=auto_model09.predict(X_train09)
r2_score(y_train09,y_pred09)

0.8113233086973217

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [123]:
# Your code here:
y_pred09=auto_model09.predict(X_test09)
r2_score(y_test09,y_pred09)

0.7763544935583597

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [124]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [126]:
# Your code here:
back=RFE(auto_model,n_features_to_select=3)

Fit the model and print the ranking

In [129]:
# Your code here:
back.fit(X_train09,y_train09)
back.ranking_

array([1, 4, 2, 3, 1, 1])

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [134]:
X
#las columnas mas importantes son cylinders,acceleration y model_year

     cylinders  displacement  horse_power  weight  acceleration  model_year
0            8         307.0        130.0    3504          12.0          70
1            8         350.0        165.0    3693          11.5          70
2            8         318.0        150.0    3436          11.0          70
3            8         304.0        150.0    3433          12.0          70
4            8         302.0        140.0    3449          10.5          70
..         ...           ...          ...     ...           ...         ...
393          4         140.0         86.0    2790          15.6          82
394          4          97.0         52.0    2130          24.6          82
395          4         135.0         84.0    2295          11.6          82
396          4         120.0         79.0    2625          18.6          82
397          4         119.0         82.0    2720          19.4          82

[392 rows x 6 columns]

In [137]:
# Your code here: Los mas importantes 
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced=train_test_split(X[["cylinders","acceleration","model_year",]]
                                                                                     ,y,test_size=0.2)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [138]:
# Your code here: 
auto_model_reduced=linear_model.LinearRegression()
auto_model_reduced.fit(X_train_reduced,y_train_reduced)
y_pred=auto_model_reduced.predict(X_test_reduced)
r2_score(y_test_reduced,y_pred)

0.6744148272826584

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.